$hf-cobalt      : #002f50;
$hf-blue-6      : #094975;
$hf-blue-5      : #146194;
$hf-hero-blue   : #2171ab;
$hf-blue-3      : #2388bd;
$hf-blue-2      : #1ca0cc;
$hf-aqua        : #10b7da;
$hf-green-3     : #46dbc0;
$hf-green-2     : #6cd982;
$hf-seagrass    : #9dd455;
$hf-yellow-3    : #d0db3a;
$hf-yellow-2    : #e6cb35;
$hf-nemo        : #e8a83a;
$hf-orange-3    : #ec8338;
$hf-orange-2    : #ee6644;
$hf-coral       : #f14f4f;
$hf-red-3       : #e04154;
$hf-red-2       : #bd3152;
$hf-currant     : #961f4c;
$hf-light-gray  : #687c8f;
$hf-hero-gray   : #556676;
$hf-dark-gray   : #3d5567;
$hf-viewer-black: #272a2e;
