@import './hf-palette.scss';

// Start with contrast-ratio mapping as the base
.theme {
  background-color: var(--hero);
  background-image: linear-gradient(165deg, var(--upper), var(--hero));
  background-repeat: no-repeat;
  color: var(--primary);
}
// Extend base and define palette
.theme-default {
  @extend .theme;
  --primary: white;
  --hero: #{$hf-hero-blue};
  --upper: #{$hf-aqua};
}
.theme-black {
  @extend .theme;
  --primary: white;
  --hero: #{$hf-viewer-black};
  --upper: #{$hf-viewer-black};
}
.theme-gray {
  @extend .theme;
  --primary: white;
  --hero: #{$hf-hero-gray};
  --upper: #{$hf-light-gray};
}
.theme-white {
  background-color: white;
  color: #{$hf-aqua};

  --primary: #{$hf-aqua};
  --hero: #{$hf-hero-blue};
  --upper: white;
}
